{% extends "base.html" %}
{% block content %}

<h1>Welcome to PedsQbank</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<h3>Chapters:</h3>
{% for chapter in chapters %}
<h3>Questions:</h3>
{% for question in questions %}


{% if question is defined %}
<div class="question">
  <strong>Question:</strong> {{ question.question }} <br>
    <form method="post">
        <input type="hidden" name="order" value="{{ question.answers|join(',', attribute='id') }}">
        {% for alternative in question.answers %}
        <div class="checkbox {% if (alternative.id)|string() in request.form.getlist('answer') %}{{ 'success' if alternative.correct else 'error' }}{% endif %}">
            <label>
                <input type="checkbox" name="answer" value="{{ alternative.id }}">
                {% if success is not none %}
                    <i class="fa {{ 'fa-check' if alternative.correct else 'fa-times' }} fa-fw"></i>
                {% endif %}
                {{ alternative.text }}
            </label>
        </div>
        {% endfor %}
        <button type="submit">Verify</button>
    </form>
    {% if answered and question.reason %}
    <div class="alert reason">
        <b>Reason</b>:
        {{ question.reason }}
    </div>
    {% endif %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}